body {
    margin: 0;
    
}

.header {
    display: flex;
    
    &__logo {
    }

    &__menu {
    }
}
.row {
    max-width: 1500px;
    margin: 0 auto;
}
.menu {

    &__item {
    }
}
.dark-container {
    background-color: rgb(112, 112, 112);
}
.title-block {
}
.light-container {
}
.card-container {
}
.card {

    &__item {
    }
}
.info-block {

    &__left {
    }

    &__mid {
    }

    &__right {
    }
}
.description {
}
.staff {
}
.navbar-container {
}
