$width: 1500px;

body {
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    &__logo {
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
    }
}
.row {
    max-width: $width;
    margin: 0 auto;
}
.menu {

    &__item {
    }
}
.dark-container {
    background-color: rgb(112, 112, 112);
}
.title-block {
    height: 500px;
}
.light-container {
}
.card-container {
}
.card {

    &__item {
    }
}
.info-block {

    &__left {
    }

    &__mid {
    }

    &__right {
    }
}
.description {
}
.staff {
}
.navbar-container {
}
