body {
    margin: 0;
    max-width: 1500px;
    background-color: rgb(255, 220, 210);
}

.header {
    color: red;

}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__item {
}
.dark-container {
}
.title-block {
}
.card-container {
}
.card__item {
}
.light-container {
}
.info-block {
}
.info-block__left {
}
.description {
}
.info-block__mid {
}
.staff {
}
.info-block__right {
}
.navbar-container {
}
.mini-cards {
}
.mini-cards__item {
}
.footer-rom {
}
.footer-block__column {
}